[core]
	excludesfile = /Users/benzoh/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Benzoh
	email = benzoh.wada@gmail.com
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	s = status
	lg = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	lga = log --all --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	lgn = log --name-status
	lgone = log --oneline
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	psforce = "!git push -f origin $(git rev-parse --abbrev-ref HEAD)"
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	co = checkout
	add-commit = "!git add -A && git commit"
	r = "!git reset --soft HEAD^"
	get-main-branch = "!git remote show origin | sed -n '/HEAD branch/s/.*: //p'"
	delete-and-get = "!CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD) && git checkout $(git get-main-branch) && git branch -D $CURRENT_BRANCH && git fetch && git checkout $CURRENT_BRANCH"
[commit]
	template = /Users/Benzoh/.stCommitMsg
[init]
	defaultBranch = main
	templatedir = ~/.git-templates/git-secrets
[pull]
	rebase = false
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
